<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
</head>
<body>
  <h1>Welcome to My Website</h1>
  <button id="connect-wallet-button">Connect Wallet</button>
  <script src="/script.js"></script>
</body>
</html>
